<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的装扮</title>
    <link rel="stylesheet" href="https://static0.xesimg.com/talcode/bootstrap4.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/dress.css">
</head>
</head>
    <body>
        <div class="banner"><img src="/static/images/pic4.jpg" class="banner_img"></div>
        
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="/static/images/g12.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/set_img?sign=g12.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="/static/images/g13.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                    <!--TODO1:仿照第18行代码，将字符串g13.gif赋值给变量sign发送到/set_img路由-->
                        <a href="/set_img?sign=g13.gif"class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="/static/images/g14.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/set_img?sign=g14.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <img src="/static/images/g32.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/set_img?sign=g32.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                  <img src="/static/images/g33.gif" class="card-img-top" alt="...">
                  <div class="card-body">
                    <a href="/set_img?sign=g33.gif" class="btn btn-primary">设置装扮</a>
                  </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card">
                    <img src="/static/images/g35.gif" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="/set_img?sign=g35.gif" class="btn btn-primary">设置装扮</a>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>
